.App 
{
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("../src/components/pic/design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1
{
font-size: 5vw;
color: #fce68f;
margin-bottom: 0%;
font-family: Arial, Helvetica, sans-serif;
margin-top: 0;
}
select
{
font-size: 2vw;
margin-bottom: 3%;
background-color: transparent;
margin-right: 5px;
border: 1px solid #fce68f;
color: rgb(102, 91, 53);
cursor: pointer;

}

select option 
{ 
  color: rgb(102, 91, 53);
  background-color: rgb(15, 28, 46);
  cursor: pointer;

}
.answer> button 
{
  width: 100%;
  margin-bottom: 1%;
  padding: 1%;

}
hr{
  border:1px solid rgb(102, 91, 53);
  width: 80%;
  margin-bottom: 1%;
}
button
{
  color:  #fce68f;
  background-color: transparent;
  font-size: 1.7vw;
  border: 1px solid rgb(102, 91, 53);
  cursor: pointer;
  width: 60%;
  padding: .5%;
  margin: auto;
  margin-bottom: 1%;
}
p{
  font-size: 1.7vw;
  margin-top: 0;
}
.main
{
  background-color: rgba(15, 28, 46,.8);
  padding:1%;
  color:  #fce68f;
  height: auto;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(255, 246, 166,.5), 0 6px 20px 0 rgba(102, 91, 53,.7);
  width:65% ;
  display: flex;
  /* justify-content: center; */
  /* align-content: center; */
  text-align: center;
  /* align-items: center; */
  flex-direction: column;
}
